$primary-color: #082032;
$secondary-color: #2C394B;
$tertiary-color: #334756;
$accent-color: #FF4C29;

* {
  background-color: $primary-color;
  color: white;
}
.wrapper{
  height: 100%;
  padding: 30px;
  margin-left: 60px;
  margin-right: 60px;
  display: flex;
  flex-direction: column;
}
