<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.0/css/mdb.min.css"
    />
  </head>
  <body>
    <div id="wrapper">
      <div>
        <button mat-button class="more-button" [routerLink]="'/articles'">
          View more articles
        </button>
        <mat-divider></mat-divider>
        <span class="spacer"></span>
        <section id="item-row">
          <span *ngFor="let article of articles | slice:0:4;">
            <app-article-card [article]="article"></app-article-card>
          </span>
        </section>
      </div>

      <div>
        <button mat-button class="more-button" [routerLink]="'/categories'">
          View more categories
        </button>
        <mat-divider></mat-divider>
        <span class="spacer"></span>
        <section id="category-row">
          <span *ngFor="let category of categories | slice:0:4;">
            <app-category-card [category]="category"></app-category-card>
          </span>
        </section>
      </div>
    </div>
  </body>
</html>
