* {
  background-color: #082032;
  color: white;
}

#wrapper {
  height: 100%;
  padding: 30px;
  margin-left: 60px;
  margin-right: 60px;
  display: flex;
  flex-direction: column;
}

.example-card {
  max-width: 400px;
  max-height: 300px;
  margin-bottom: 120px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: #2c394b;
}

mat-card-header {
  background-color: #2c394b;
}

mat-card-title {
  color: white;
  background-color: #2c394b;
}

mat-card-content {
  color: white;
  background-color: #2c394b;
}

p{
  background-color: #2c394b;
}

mat-card-actions {
  background-color: #2c394b;
}

mat-card-actions > button {
  color: white;
  background-color: #2c394b;
}

mat-card-actions > button:hover {
  color: white;
  background-color: #2c394b;
}

mat-card-subtitle{
  background-color: #2c394b;
}

mat-divider{
  background-color: #FF4C29;
}

.spacer {
  margin: 30px;
}

.more-button {
  font-size: large;

  color: #FF4C29;
  margin-bottom: 10px;
  flex: auto;
}

#category-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
}

#item-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
}
