$primary-color: #082032;
$secondary-color: #2c394b;
$tertiary-color: #334756;
$accent-color: #ff4c29;

* {
  background-color: $primary-color;
  color: white;
}

#wrapper {
  height: 100%;
  padding: 30px;
  margin-left: 60px;
  margin-right: 60px;
  display: flex;
  flex-direction: column;
}


mat-divider {
  background-color: #ff4c29;
}


.spacer {
  margin: 30px;
}

.more-button {
  font-size: large;
  color: white;
  margin-bottom: 10px;
  flex: auto;
}

button:hover {
  color: white;
  background-color: $accent-color;
  animation-duration: 2ms;
}

#category-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
}

#item-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
}
