* {
  // background-color: #ffb300;
  color: white;
}

.spacer {
  flex: 1 1 auto;
}

mat-nav-list > a {
  color: white;
}
mat-nav-list {
  background-color: #FF4C29;
}
mat-sidenav {
  background-color: #FF4C29;
}

#home-button {
  font-size: large;
}

mat-toolbar {
  background-color: #FF4C29;
}
