$primary-color: #082032;
$secondary-color: #2c394b;
$tertiary-color: #334756;
$accent-color: #ff4c29;
* {
  background-color: $primary-color;
  color: white;
}

.spacer {
  flex: 1 1 auto;
}

mat-nav-list > a {
  color: white;
}
mat-nav-list {
  background-color: $primary-color;
}
mat-sidenav {
  background-color: $primary-color;
}

#home-button {
  font-size: large;
}

mat-toolbar {
  background-color: $primary-color;
}


